// Variables
$black: #001011;
$gray: #14213D;
$yellow: #FCA311;
$light-gray: #E5E5E5;
$white: #FFFFFF;

// Main Styles
#Wrapper {
  width: 100% !important;
  height: 100vh !important;
}

#Title {
  margin-top: 10%;
  color: $yellow;
  text-align: center;
}

#AuthenticationButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .authBtn {
    color: $white;
    background: $yellow;
    padding: 1em 2em;
    outline: 0;
    border: 0;
    margin: 0 10px;
    font-family: 'Montserrat';
    font-weight: bold;
    cursor: pointer;
  }
}

#MessageInputWrapper {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  background-color: $gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  #MessageInput {
    font-family: 'Montserrat';
    text-align: center;
    background: transparent;
    outline: 0;
    border: none;
    box-shadow: none;
    color: $yellow;
    font-size: 16px;
    border-bottom: 1px solid $yellow;
    padding-bottom: 0.75em;
    margin-right: 10px;
    &::placeholder {
      text-align: center;
      color: $yellow !important;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      text-align: center;
      color: $yellow !important;
    }
    &::-ms-input-placeholder {
      text-align: center;
      color: $yellow !important;
    }
    &:focus::-moz-placeholder {
      text-align: center;
      transition: 0.1s !important;
      color: transparent !important;
    }
    &:focus:-moz-placeholder {
      text-align: center;
      transition: 0.1s !important;
      color: transparent !important;
    }
    &:focus::-webkit-input-placeholder {
      text-align: center;
      transition: 0.1s !important;
      color: transparent !important;
    }
    &:focus::-ms-input-placeholder {
      text-align: center;
      transition: 0.1s !important;
      color: transparent $yellow !important;
    }
  }
  #MessageSubmitButton {
    color: $black;
    background: $yellow;
    font-family: 'Montserrat';
    font-weight: bold;
    padding: 0.75em 3em;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-left: 10px;
  }
}

#Output {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 15%;
  display: flex;
  flex-direction: column;
  div {
    background-color: $yellow;
    margin-bottom: 5px;
    p {
      color: $black;
      font-weight: bold;
      text-align: center;
    }
  }
}

// Spinner
.lds-ring {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  overflow: hidden;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid $yellow;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $yellow transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &::nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Inputs
#InputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .inputs {
    font-family: 'Montserrat';
    text-align: center;
    background: transparent;
    outline: 0;
    border: none;
    box-shadow: none;
    color: $yellow;
    font-size: 16px;
    border-bottom: 1px solid $yellow;
    padding-bottom: 0.75em;
    margin-bottom: 25px;
    &::placeholder {
      text-align: center;
      color: $yellow !important;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      text-align: center;
      color: $yellow !important;
    }
    &::-ms-input-placeholder {
      text-align: center;
      color: $yellow !important;
    }
    &:focus::-moz-placeholder {
      text-align: center;
      transition: 0.1s !important;
      color: transparent !important;
    }
    &:focus:-moz-placeholder {
      text-align: center;
      transition: 0.1s !important;
      color: transparent !important;
    }
    &:focus::-webkit-input-placeholder {
      text-align: center;
      transition: 0.1s !important;
      color: transparent !important;
    }
    &:focus::-ms-input-placeholder {
      text-align: center;
      transition: 0.1s !important;
      color: transparent $yellow !important;
    }
  }
  #SubmitButton {
    color: $white;
    background: $yellow;
    font-family: 'Montserrat';
    font-weight: bold;
    padding: 0.75em 3em;
    border: 0;
    outline: 0;
    cursor: pointer;
    &:hover {
      transition: 0.2s;
      padding: 0.75em 5em;
    }
  }
}
