#Wrapper {
  width: 100% !important;
  height: 100vh !important; }

#Title {
  margin-top: 10%;
  color: #FCA311;
  text-align: center; }

#AuthenticationButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#AuthenticationButtons .authBtn {
  color: #FFFFFF;
  background: #FCA311;
  padding: 1em 2em;
  outline: 0;
  border: 0;
  margin: 0 10px;
  font-family: 'Montserrat';
  font-weight: bold;
  cursor: pointer; }

#MessageInputWrapper {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  background-color: #14213D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#MessageInputWrapper #MessageInput {
  font-family: 'Montserrat';
  text-align: center;
  background: transparent;
  outline: 0;
  border: none;
  box-shadow: none;
  color: #FCA311;
  font-size: 16px;
  border-bottom: 1px solid #FCA311;
  padding-bottom: 0.75em;
  margin-right: 10px; }

#MessageInputWrapper #MessageInput::placeholder {
  text-align: center;
  color: #FCA311 !important;
  opacity: 1; }

#MessageInputWrapper #MessageInput:-ms-input-placeholder {
  text-align: center;
  color: #FCA311 !important; }

#MessageInputWrapper #MessageInput::-ms-input-placeholder {
  text-align: center;
  color: #FCA311 !important; }

#MessageInputWrapper #MessageInput:focus::-moz-placeholder {
  text-align: center;
  transition: 0.1s !important;
  color: transparent !important; }

#MessageInputWrapper #MessageInput:focus:-moz-placeholder {
  text-align: center;
  transition: 0.1s !important;
  color: transparent !important; }

#MessageInputWrapper #MessageInput:focus::-webkit-input-placeholder {
  text-align: center;
  transition: 0.1s !important;
  color: transparent !important; }

#MessageInputWrapper #MessageInput:focus::-ms-input-placeholder {
  text-align: center;
  transition: 0.1s !important;
  color: transparent #FCA311 !important; }

#MessageInputWrapper #MessageSubmitButton {
  color: #001011;
  background: #FCA311;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: 0.75em 3em;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-left: 10px; }

#Output {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 15%;
  display: flex;
  flex-direction: column; }

#Output div {
  background-color: #FCA311;
  margin-bottom: 5px; }

#Output div p {
  color: #001011;
  font-weight: bold;
  text-align: center; }

.lds-ring {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  overflow: hidden; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #FCA311;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #FCA311 transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div::nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#InputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#InputWrapper .inputs {
  font-family: 'Montserrat';
  text-align: center;
  background: transparent;
  outline: 0;
  border: none;
  box-shadow: none;
  color: #FCA311;
  font-size: 16px;
  border-bottom: 1px solid #FCA311;
  padding-bottom: 0.75em;
  margin-bottom: 25px; }

#InputWrapper .inputs::placeholder {
  text-align: center;
  color: #FCA311 !important;
  opacity: 1; }

#InputWrapper .inputs:-ms-input-placeholder {
  text-align: center;
  color: #FCA311 !important; }

#InputWrapper .inputs::-ms-input-placeholder {
  text-align: center;
  color: #FCA311 !important; }

#InputWrapper .inputs:focus::-moz-placeholder {
  text-align: center;
  transition: 0.1s !important;
  color: transparent !important; }

#InputWrapper .inputs:focus:-moz-placeholder {
  text-align: center;
  transition: 0.1s !important;
  color: transparent !important; }

#InputWrapper .inputs:focus::-webkit-input-placeholder {
  text-align: center;
  transition: 0.1s !important;
  color: transparent !important; }

#InputWrapper .inputs:focus::-ms-input-placeholder {
  text-align: center;
  transition: 0.1s !important;
  color: transparent #FCA311 !important; }

#InputWrapper #SubmitButton {
  color: #FFFFFF;
  background: #FCA311;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: 0.75em 3em;
  border: 0;
  outline: 0;
  cursor: pointer; }

#InputWrapper #SubmitButton:hover {
  transition: 0.2s;
  padding: 0.75em 5em; }
